# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDE - Eclipse
.classpath
.factorypath
.project
.settings/
.springBeans

# IDE - VSCode
.vscode/
*.code-workspace

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Application
application-local.yml
.env
